<!DOCTYPE html>
<html>
 <head>test</head>
 <body>
  <div class="ant-tabs ant-tabs-top tournament-detail-tabs ant-tabs-line">
   <div role="tablist" class="ant-tabs-bar" tabindex="0" tab-fixed="">
    <div class="ant-tabs-nav-container">
     <span unselectable="unselectable" class="ant-tabs-tab-prev ant-tabs-tab-btn-disabled"><span class="ant-tabs-tab-prev-icon"></span></span>
     <span unselectable="unselectable" class="ant-tabs-tab-next ant-tabs-tab-btn-disabled"><span class="ant-tabs-tab-next-icon"></span></span>
     <div class="ant-tabs-nav-wrap">
      <div class="ant-tabs-nav-scroll">
       <div class="ant-tabs-nav ant-tabs-nav-animated">
        <div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated" style="display: block; transform: translate3d(0px, 0px, 0px); width: 93px;"></div>
        <div role="tab" aria-disabled="false" aria-selected="true" class="ant-tabs-tab-active ant-tabs-tab">
         <span class="tournament-info-tab ant-dropdown-trigger"><span>赛事信息</span><span></span></span>
        </div>
        <div role="tab" aria-disabled="false" aria-selected="false" class=" ant-tabs-tab">
         参赛者列表
        </div>
        <div role="tab" aria-disabled="false" aria-selected="false" class=" ant-tabs-tab">
         赛事赛程
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="ant-tabs-content ant-tabs-content-animated" style="margin-left:0%">
    <div role="tabpanel" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active">
     <div class="clearfix tournament-detail-info" style="margin-bottom:40px">
      <div class="tournament-bonus" id="award">
       <h4 class="tournament-detail-title">赛事奖励</h4>
       <div class="award-text">
        参与活动的主播根据最终排名获得以下奖励
        <br />第一名：30000现金+游戏内专属冠军勋章+专属斗鱼鲨鱼旗手，官方认证（冠军）+分区推荐5小时+优先签约机会（若为主播）
        <br />第二名：15000现金+游戏内专属亚军勋章+专属斗鱼鲨鱼旗手，官方认证（亚军）+分区推荐2小时+优先签约机会（若为主播）
        <br />第三名：5000现金+游戏内专属季军勋章+专属斗鱼鲨鱼旗手，官方认证（季军）+分区推荐1小时+优先签约机会（若为主播）
        <br />第四-八名：每人640糖果奖励
       </div>
      </div>
      <div class="tournament-introduce" id="introduction">
       <h4 class="tournament-detail-title">赛事介绍</h4>
       <div class="introduce-text">
        这几天DOTA2新出了一张地图，让玩家和主播们大呼过瘾，玩到停不下来，它就是——刀塔自走棋！这款RPG地图休闲却又不简单，你需要在8&times;8的棋盘上，根据对手的阵容！召唤不同的刀塔英雄，搭配各种组合、羁绊效果，排兵布阵、运筹帷幄，战胜对手！
        <br />针对这款最新最热的RPG地图，斗鱼DOTA2板块开展了地图专属定制活动，无论是主播还是玩家都有机会在棋盘上一展棋艺，水友们快参与进来和我们共同寻找最耀眼的“棋技哥”！
       </div>
      </div>
      <div class="tournament-rule" id="rules">
       <h4 class="tournament-detail-title">赛事规则</h4>
       <div class="tournament-rule-text">
        第一阶段（海选赛）：
        <br />海选赛：1月23日-1月27日
        <br />参与活动的玩家需将自己的游戏ID改成”斗鱼.xxx”的形式，活动期间棋手等级达到主教一及以上的玩家将可以参与到下阶段初赛的报名。
        <br />
        <br />第二阶段（棋技大对决）：
        <br />比赛报名：1月25日-27日
        <br />1、选手在本页面报名之后，需要在此链接上传报名信息： https://wj.qq.com/s2/3119287/5a4f/
        <br />注：报名不需要绑定steam
        <br />2、选手需要加入棋技对决赛事群：933548652（若1群已满可以加入2群：962869399，3群：158544334），进群后请先看群公告和群文件。群内之后会公布赛事参赛信息，进群请修改自己的名片为自己的游戏ID（若为主播，则修改为房间号+斗鱼ID）；
        <br />3、报名结束后会对报名者信息进行审核，审核通过后的选手即为报名成功；
        <br />4、比赛期间，参赛者若为主播要求全程直播，房间名以【棋技对决】开头，并要求主播直播画面清晰流畅。我们将从中随机抽取主播给予分区推荐，内容优质者可获得签约机会。
        <br />
        <br />初赛：（1月28日-29日）
        <br />第一阶段：512进64 BO2积分赛模式，每组积分第一晋级
        <br />第二阶段：64进16 BO2积分赛模式，每组积分前二晋级
        <br />
        <br />突围赛：（1月30日-31日）
        <br />（拟邀请13名明星主播加上第一届比赛的前三名选手作为16强，剩下16名玩家从上一阶段比赛中晋级）
        <br />比赛采用BO2积分赛模式，每组积分前二晋级，选出最后8名玩家晋级最后决赛
        <br />
        <br />决赛： （2月1日）
        <br />决赛采用BO3积分赛制，3局对战总积分排名前三的主播队伍获得对应奖励。
        <br />
        <br />积分规则：每局第一名8分,第二名6分，以此类推，最后一名0分。
        <br />
       </div>
      </div>
      <div class="tournament-demand" id="demand">
       <h4 class="tournament-detail-title">参赛要求</h4>
       <ul class="demand-text">
        <li><span></span><span>参赛者信息要求：
          <!-- -->需绑定手机号、STEAM，填写QQ</span></li>
       </ul>
      </div>
      <div class="tournament-contact" id="contact">
       <h4 class="tournament-detail-title">主办方联系方式</h4>
       <ul class="contact-text">
        <li><span class="iconfont icon-qq-"></span><span>联系QQ</span><span>：
          <!-- -->1396732032</span></li>
        <li><span class="iconfont icon-youxiang"></span><span>联系邮箱</span><span>：
          <!-- -->bd@varena.com</span></li>
        <li><span class="iconfont icon-qun"></span><span>官方交流群</span><span>：
          <!-- -->933548652</span></li>
       </ul>
      </div>
     </div>
    </div>
    <div role="tabpanel" aria-hidden="true" class="ant-tabs-tabpane ant-tabs-tabpane-inactive"></div>
    <div role="tabpanel" aria-hidden="true" class="ant-tabs-tabpane ant-tabs-tabpane-inactive"></div>
   </div>
  </div>
 </body>
</html>